.anu-swiper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.anu-swiper__wrapper {
    width: 100%;
    height: 100%;
    transition-property: transform;
}

.anu-swiper__content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    transition-property: none;
}

.anu-swiper__content--transition {
    transition-property: transform;
}

.anu-swiper__item {
    flex-grow:1;
    flex-shrink:0;
    width: 100%;
    height: 100%;
}

.anu-swiper__pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform:translate(0, -18px);
}

.anu-swiper__pagination-bullet {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    margin: 0 4px;
}

.anu-swiper--vertical {
    flex-direction: row;
    .anu-swiper__content {
        flex-direction: column;
    }
    .anu-swiper__pagination {
        flex-direction: column;
        transform:translate(-18px, 0);
    }
    .anu-swiper__pagination-bullet {
        margin: 4px 0;
    }
}