@import '../../../common/style/common.scss';

.button-wrapper {
    button {
        margin-bottom: 20px;
    }
}

.item {
  margin: 10px 20px;

}

.text {
  width: 200px;
  height: 50px;
  border: 1px solid #eeeeee;
  border-radius: 0 0 0 5px;
}