.anu-radio-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.anu-radio {
    border-width: 2px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
