.anu-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.anu-col {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.anu-center {
  justify-content: center;
}
.anu-vertical {
  align-items: center;
}

.anu-item {
  padding: 10px 5px;
  background-color: #eee;
  margin: 2px 0px;
  text {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.anu-header {
  margin: 10px 0px;
  font-weight: bold;
  text {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}