.radio-container {
    display: flex;
    align-items: center;
}

.radio {
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio__check {
    border-radius: 50%;
}
