.nnc-radio-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nnc-radio {
    border-width: 2px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nnc-radio__check {
    // border-radius: 50%;
}
