.progress-demo {
  flex-direction: column;
}
.progress-title {
  margin: 20px;
}
.progress-cell {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
}

.col {
  display: flex;
  flex-direction: column;
  width: 100%;
}