.anu-scroll-view {
    overflow: hidden;
}
.anu-scroll-view--overflow {
    overflow: auto;
}
.anu-scroll-view--overflow-x {
    overflow-x: auto;
}
.anu-scroll-view--overflow-y {
    overflow-y: auto;
}