@keyframes open {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(39px);
  }
}

@keyframes close {
  from {
    transform: translateX(39px);
  }
  to {
    transform: translateX(0);
  }
}

.anu-switch {
  align-items: center;

  &__checkbox {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  &__checkbox--disabled {
    opacity: 0.5;
  }
  &__thumb {
    position: absolute;
    transition: transform .3s;
  }
}
