.anu-slider {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.anu-bar-container {
    height: 30px;
    width: 100%;
}

.slider-block {
    height: 28px;
    display: flex;
    flex-direction: row;
}

.anu-slider-block {
    padding: 15px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    width: 100%;
}

.weui-slider__inner {
    position: relative;
    height: 2px;
    width: 100%;
}

.weui-slider__track {
    height: 2px;
}

.weui-slider__track-inner {
    height: 2px;
}

.weui-slider__handler {
    justify-content: center;
    align-items: center;
}

.weui-slider-box__value {
    margin-left: 0.5em;
    flex-basis: 40px;
    color: #888888;
    text-align: center;
    font-size: 14px;
}
