@import '../../../common/style/common.scss';
@import '../common/index.scss';

.swiper-content {
    display: flex;
    flex-direction: column;
    border: 4px solid black;
    background-color: red;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    justify-content:center;
    align-items:center;

}

.anu-swiper__item {
    flex-grow:1;
    flex-shrink:0;
    width: 100%;
    height: 100%;
}

.aaa {
    background-color: blue;
    width: 140px;
    height: 90px;
    transform: translate(100px, -100px);
}