@import '../../../assets/style/common.scss';
@import '../common/index.scss';

.checkbox-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.checkbox-col {
    display: flex;
    flex-direction: column;
}
