@import '../../assets/style/variables.scss';

.anu-switch {
  align-items: center;

  &__checkbox {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  &__checkbox--disabled {
    opacity: 0.4;
  }
  &__thumb {
    position: absolute;
    transition: transform .3s;
  }
}
