

.anu-progress {
  flex-direction: column;
  flex: 1;

  &-cell {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

	&-inner {
		flex: 1;
    background-color: #f5f5f5;
    width: 100%;
	}

  &-info {
    margin-left: 10px;
  }
}

