.weui-mask {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.weui-animate-fade-in {
  -webkit-animation: fadeIn ease .3s forwards;
  animation: fadeIn ease .3s forwards;
}

.weui-animate-fade-out {
  -webkit-animation: fadeOut ease .3s forwards;
  animation: fadeOut ease .3s forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
  }

  0% {
    opacity: 1;
  }
}