.checkbox-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkbox {
    border-radius:4px;
    border: 1px solid #d1d1d1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkbox__check {
    transform: scale(1.5, 1);
}

.checkbox__check::after {
    content: '\2713';
}
